<div id="idea-index" class="margin-top-80">
  <div class="">
    Title: <input class="" type="text" id="idea-title" placeholder="Name your idea">
    Body: <input class="" type="text" id="idea-body" placeholder="Summarize your idea">
  </div>
  <input class="" id="create-idea" type="button" name="submit" value="Save">

  <h1>Your Ideas</h1>

  <div class="filter">
    <label for="idea_filter_title">Filter By Title</label>
    <%= text_field :idea, :filter_title %>
  </div>
  <div id="idea-info" class="clearfix">
  </div>

</div>
